@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #913333;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    background-color:  #a85151;
    display: flex;
    justify-content:space-around;
    border-radius: 5px;
}

#search-form {
    align-self: center;
}

#search {
    background-color: transparent;
    border: 2px solid #913333;
    border-radius: 50px;
    color: white;
    font-family: inherit;
    padding: 0 1rem;
    height: 35px;
}

#search::placeholder {
    color: white;
}

#search:focus {
    background-color: #913333;
    outline: none;
}

h1 {
    font-family: 'Raleway';
    color: white;
    font-size: 36px;
    align-self: center;
}

.game {
    background-color: #a85151;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    margin: 1rem;
    display: inline-block;
    width: 384px;
}

.game img {
    display: inline-block;
    object-fit: cover;
    height: 216px;
    width: 384px;
}

.game-desc {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.game-desc h3 {
    margin: 0;
}

.game-desc span {
    background-color: #913333;
    border-radius: 3px;
    object-fit: contain;
    padding: 0.25rem 0.5rem;
}