@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Raleway';
    color: white;
    font-size: 36px;
    margin: 1rem;

}

body {
    background-color: #913333;
    font-family: Verdana, Tahoma, sans-serif;
}

.game {
    background-color: #a85151;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    margin: 1rem;
    display: inline-block;
    width: 384px;
}

.game img {
    display: inline-block;
    object-fit: cover;
    height: 216px;
    width: 384px;
}

.game-desc {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.game-desc h3 {
    margin: 0;
}

.game-desc span {
    background-color: #913333;
    border-radius: 3px;
    object-fit: contain;
    padding: 0.25rem 0.5rem;
}